<div id="container">
    <form id="line-form">
      <h6 id="title">Épaisseur : {{ thickness || '1'}}</h6>
        <mat-slider
            id="thickness-slider"
            name="thickness-slider"
            disabled="false"
            [min]="SLIDER_MINIMUM"
            [max]="SLIDER_MAXIMUM"
            step="1"
            thumbLabel="false"
            tickInterval="false"
            (input)="onInputChange($event)"
            [(ngModel)]="service.thickness"
            vertical="false">
        </mat-slider>
    </form>
</div>
