@import "../../../global-style/colors.scss";

:host {
  display: block;
  padding: 16px;
  background-color: $dark-gray;
}

.color-wrapper {
  display: flex;
  height: 300px;
}

.button-section {
  text-align: right;
}

#preview {
  display: block;
  width: 50px;
  height: 50px;
}
