<div class="section">
  <h6 class="title">Couleur primaire</h6>
  <div class="color-preview">
    <svg width="55" height="55">
      <rect width="55" height="55"
      style="fill:rgb(0,0,255);stroke-width:3px; stroke:whitesmoke;" />
    </svg>
  </div>
  <div class="transparency">
    <p class="sub-title">Transparence</p>
    <mat-slider></mat-slider>
  </div>
</div>

<div class="section">
  <h6 class="title">Couleur secondaire</h6>
  <div class="color-preview">
    <svg width="55" height="55">
      <rect width="55" height="55"
      style="fill:rgb(255,0,255);stroke-width:3px; stroke:whitesmoke;" />
    </svg>
  </div>
  <div class="transparency">
    <p class="sub-title">Transparence</p>
    <mat-slider></mat-slider>
  </div>
  <div class="invert-colors">
    <button mat-raised-button id="invert-button">Inverser les couleurs</button>
  </div>
</div>


<div class="section">
  <h6 class="title">Dernières couleurs utilisées</h6>
  <div class="row">
    <button mat-mini-fab class="last-colors"></button>
    <button mat-mini-fab class="last-colors"></button>
    <button mat-mini-fab class="last-colors"></button>
    <button mat-mini-fab class="last-colors"></button>
    <button mat-mini-fab class="last-colors"></button>
  </div>
  <div class="row">
    <button mat-mini-fab class="last-colors"></button>
    <button mat-mini-fab class="last-colors"></button>
    <button mat-mini-fab class="last-colors"></button>
    <button mat-mini-fab class="last-colors"></button>
    <button mat-mini-fab class="last-colors"></button>
  </div>
</div>


