@import "../../../global-style/colors.scss";

.title {
  color: whitesmoke;
  margin-bottom: 1rem;
}

.sub-title {
  margin-bottom: 0rem;
  color: whitesmoke;
}

.section {
  margin-bottom: 10px;
  width: 100%;
  min-height: 100px;
}

.color-preview {
  float: left;
  width: 30%;
}

.mat-slider {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

.transparency {
  float: right;
  width: 70%;;
}

.row {
  margin: 0 auto;
}

.last-colors {
  margin: 2px;
  text-align: center;
}

.invert-colors {
  text-align: center;
}

#invert-button {
  background-color: $vivid;
}
