<div class="section">
  <h6 class="title">Couleur primaire</h6>
  <div class="color-preview">
    <button id="primary-color-button"
    [style.background-color]="primaryColor.getHex()"></button>
  </div>
  <div class="transparency">
    <p class="sub-title">Transparence</p>
    <mat-slider></mat-slider>
  </div>
</div>

<div class="section">
  <h6 class="title">Couleur secondaire</h6>
  <div class="color-preview">
    <button id="secondary-color-button"
    [style.background-color]="secondaryColor.getHex()"></button>
  </div>
  <div class="transparency">
    <p class="sub-title">Transparence</p>
    <mat-slider></mat-slider>
  </div>
  <div class="invert-colors">
    <button mat-raised-button id="invert-button" (click)="onColorInversion()">Inverser les couleurs</button>
  </div>
</div>


<div class="section">
  <h6 class="title">Dernières couleurs utilisées</h6>
  <div class="recent">
    <ul *ngFor="let color of recentColors;let i = index">
      <li *ngIf= "i < recentColors.length/2">
        <button mat-mini-fab class="last-colors" [style.background-color]="color.getHex()"></button>
      </li>
    </ul>
    <ul *ngFor="let color of recentColors;let i = index">
      <li *ngIf= "i >= recentColors.length/2">
        <button mat-mini-fab class="last-colors" [style.background-color]="color.getHex()"></button>
      </li>
    </ul>
  </div>
</div>


