@import "../../../global-style/colors.scss";

button:focus {
  outline: 0;
}

.section {
  margin-bottom: 10px;
  width: 100%;
  min-height: 100px;

  .title {
    color: whitesmoke;
    margin-bottom: 1rem;
  }

  .color-preview {
    float: left;
    width: 30%;

    #primary-color-button {
      width: 55px;
      height: 55px;
      font-size: 12px;
      padding: 0;
    }

    #secondary-color-button {
      width: 55px;
      height: 55px;
      font-size: 12px;
      padding: 0;
    }
  }

  .transparency {
    float: right;
    width: 70%;

    .sub-title {
      margin-bottom: 0rem;
      color: whitesmoke;
    }

    .mat-slider {
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
    }
  }

  .centered-section {
    text-align: center;

    #invert-button {
      background-color: $vivid;
      margin-bottom: 10px;
    }

    #change-background {
      background-color: $vivid;
    }
  }

  #recent {
    margin: auto;
    max-width: 170px;

    ul li {
      display: inline;

      .last-colors {
        margin: 2px;
        text-align: center;
        float: left;
      }

      .mat-mini-fab {
        height: 30px;
        width: 30px;
      }
    }
  }
}
