<table>
  <tr>
    <td>
      <h2>Rotation</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Une fois dans l'option selection activé dans le menu d'outils, tout objet sélectioné peut être mis en rotation
    grâce à une souris, son cran de roulette et la touche alt. Un cran de roulette équivaut à 15° tandis que le même
    cran vaudra 1° si la touche alt est maintenue en même temps.
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/sbVRIHMe8Dc"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    >
    </iframe>
  </div>
</div>
