<table>
  <tr>
    <td>
      <h2>Presse-Papier</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Pour utiliser le presse papier, il est nécessaire de vérifier la présence sur le menu de selection. Suite à cela,
    il est possible de manipuler les éléments du dessin avec les boutons présents dans le menu attributs d'outils ou bien
    avec les combinaisons suivantes  : "ctrl+X : couper ; ctrl+c : copier ; ctrl+v : coller ; ctrl+d : duppliquer". Une
    séléction peut par ailleurs être effacé. Il suffirait de se placer dessus puis de peser sur la touche "delete".
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/TcvG5NtKZJo"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    >
    </iframe>
  </div>
</div>
