

  <div class="tool-header">
    <!--<h3 id="title">Attributs de l'outil</h3>
    <p id="tool">{{ this.currentTool.getFrenchToolNameToPrint() }}</p>-->
    <h4 id="title">Attributs de l'outil</h4>
    <p id="tool">{{ this.toolSelectorService.getCurrentTool()?.frenchName }}</p>
    <mat-divider></mat-divider>
  </div>

  <div class="option-pannel" [ngSwitch]="currentTool">
    <p *ngSwitchCase="'eraser'">Eraser is selected</p>
    <app-line *ngSwitchCase="'line'">Line Selected</app-line>
    <app-pencil *ngSwitchCase="'pencil'">Pencil Selected</app-pencil>
    <app-rectangle *ngSwitchCase="'rectangle'">Rectangle Selected</app-rectangle>
    <app-brush *ngSwitchCase="'brush'">Brush Selected</app-brush>
  </div>
  <!--
  <div class="tool-options scrollable" [ngSwitch]="currentTool">
    <p *ngSwitchCase="'eraser'"></p>
    <app-line *ngSwitchCase="'line'"></app-line>
    <app-pencil *ngSwitchCase="'pencil'"></app-pencil>
  </div>-->

<div class="color-wrapper">
  <div class="color-panel">
    <div id="bottom-divider">
      <mat-divider></mat-divider>
    </div>
    <app-color-panel></app-color-panel>
  </div>
</div>

