<div class="wrapper">

  <div class="tool-header">
    <h4 id="title">Attributs de l'outil</h4>
    <!--<p id="tool">{{ this.currentTool.getFrenchToolNameToPrint() }}</p>-->
    <mat-divider></mat-divider>
  </div>


  <div class="tool-options scrollable" [ngSwitch]="currentTool">
    <p *ngSwitchCase="'eraser'"></p>
    <app-line *ngSwitchCase="'line'"></app-line>
    <app-pencil *ngSwitchCase="'pencil'"></app-pencil>
  </div>

  <div class="color-panel">
    <div id="bottom-divider">
      <mat-divider></mat-divider>
    </div>
    <app-color-panel></app-color-panel>
  </div>

</div>

