<div class="wrapper">

  <div class="tool-header">
    <h4 id="title">Attributs de l'outil</h4>
    <p id="tool">{{ this.toolSelectorService.getCurrentTool()?.frenchName }}</p>
    <mat-divider></mat-divider>
  </div>

  <div class="option-panel" [ngSwitch]="currentTool">
    <app-line *ngSwitchCase="'line'">Line Selected</app-line>
    <app-pencil *ngSwitchCase="'pencil'">Pencil Selected</app-pencil>
    <app-rectangle *ngSwitchCase="'rectangle'">Rectangle Selected</app-rectangle>
    <app-brush *ngSwitchCase="'brush'">Brush Selected</app-brush>
    <app-polygon *ngSwitchCase="'polygon'">Polygon Selected</app-polygon>
    <app-ellipse *ngSwitchCase="'ellipse'">Ellipse Selected</app-ellipse>
    <app-eraser *ngSwitchCase="'eraser'">Eraser Selected</app-eraser>
    <app-selection *ngSwitchCase="'selection'">Selection Selected</app-selection>
  </div>


  <div class="color-wrapper">
    <div class="color-panel">
          <mat-accordion>
            <mat-expansion-panel hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6>Options de couleur</h6>
                </mat-panel-title>
                <mat-icon>unfold_more</mat-icon>
              </mat-expansion-panel-header>
              <mat-panel-description>
                <div class="inner-color">
                  <app-color-panel></app-color-panel>
                </div>
              </mat-panel-description>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
  </div>
</div>


