@import "../../../global-style/colors.scss";

#title {
    color: whitesmoke;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
}

h3 {
    margin: 0;
    padding-top: 10px;
}