@import '../styles.scss';

// Palette
$light: #B0BEC5;
$medium: #78909C;
$dark: #37474F;

// Sidebar
$sidebar-color: $medium;

// Option pannel
$option-pannel-color: $light;

// Workspace
$workspace-color: $dark;

// Text
