@import '../styles.scss';

// Palette
$gray: #888888;
$light: #6b668c;
$medium: #434059;
$dark: #302E40;
$vivid: #F4EA57;

// Sidebar
$sidebar-color: $medium;
$clicked-sidebar-option: $vivid;

// Option pannel
$option-pannel-color: $dark;

// Workspace
$workspace-color: $gray;

// Text
