@import '../styles.scss';

// Palette
$light: #B0BEC5;
$medium: #78909C;
$dark: #37474F;
$vivid: #ECEFF1;

// Sidebar
$sidebar-color: $medium;
$clicked-sidebar-option: $vivid;

// Option pannel
$option-pannel-color: $light;

// Workspace
$workspace-color: $dark;

// Text
