/* You can add global styles to this file, and also import other style files */
#themeColor{
  background: #38364B;
  color: azure;
}

#messageDescriptif{
  text-align: right;
}

.hrSeparation{
  border: azure 1px solid;
}

.choiceContent{
  text-align: center;
  font-size: 1.5rem;
}

.btn-center {
  margin-bottom : 10px;
  width : 40%;
}
