/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
<<<<<<< HEAD
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
=======
>>>>>>> b6ae071e39bd5fc2dbbd572d56f23e9c65cb172a
