<div class="background">
  <div class="container">
    <div  id="themeColor" class="jumbotron">
      <h1 class="display-4">
        <img  src="../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
        {{messageAccueil}}
      </h1>
      <p id="messageDescriptif" class="lead">{{messageDescriptif}}</p>
      <hr class="hrSeparation">

      <div class="choiceContent">
        <p >Veuillez choisir une option :</p>

        <div>
          <div>
            <a class="btn btn-warning btn-center " routerLink = '/dessin'
               role="button" [state]="{path : '', comingFromEntryPoint : true}">
              Creer un nouveau dessin
            </a>
          </div>
          <div>
            <a class="btn btn-warning btn-center " routerLink = '/'
               role="button" [state]="{path : '', comingFromEntryPoint : true}">
              Ouvrir la Galerie de dessins
            </a>
          </div>
          <div>
            <a class="btn btn-warning btn-center " [routerLink]="[{outlets : { guideSubCategory : ['bienvenue']}}]"
               role="button" (click)="openDialog()">
              Afficher le guide d'Utilisation
            </a>
          </div>
        </div>
          <!--<a *ngIf="option.show ===false" class="btn btn-warning btn-center disabled "  role="button">
                      {{option.description}}
                    </a>-->


      </div>
    </div>
  </div>
</div>



