@import '../../../global-style/colors.scss';

.wrapper {
  background-color: $dark-gray;
  min-height: 100%;
  min-width: 100%;

  .container {
    padding-top: 10%;
    margin: auto;
    width: 65%;

    #title {
      display: flex;

      h2 {
        color: whitesmoke;
        margin-bottom: 15px;
      }
    }

    #subtitle {
      text-align: right;
      color: whitesmoke;
    }

    hr {
      border: whitesmoke 1px solid;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .options-area {
      text-align: center;

      h6 {
        color: whitesmoke;
      }

      .btn {
        margin-top : 10px;
        width : 40%;
      }
    }
  }
}
