#themeColor{
  background: #38364B;
  color: azure;
  margin: auto;
}
.container{
  background: #38364B !important;
}

#messageDescriptif{
  text-align: right;
}

.hrSeparation{
  border: azure 1px solid;
}

.choiceContent{
  text-align: center;
  font-size: 1.5rem;
}

.btn-center {
  margin-bottom : 10px;
  width : 40%;
}

#guideIcon{
 float: right;
}
