<table>
  <tr>
    <td>
      <h2>Applicateur de Couleur</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Une fois l'image dessinée, il est possible de changer la couleur d'un élément avec un click droit (bordure mise à jour)
    et un click gauche ( remplissage mis à jour ).
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/jHHltkRVUjA"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen

    >
    </iframe>
  </div>
</div>
