<table>
  <tr>
    <td>
      <h2>Annuler refaire</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il est possible d'annuler la derniere action ou de la refaire respectivement avec les raccourcis ' ctrl z' et
    ' ctrl shift z'.
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/1GPlUQh6Rig"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    >
    </iframe>
  </div>
</div>
