<table>
  <tr>
    <td>
      <h2>Sauvegard automatique et continuation de dessin</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>La sauvegarde automatique est enclaché après toute modification du dessin, il vous est possible de retourner au
    menu d'accueil et d'appuyer sur "continuer un dessin" ou bien de refresh la page sans perdre votre dessin.
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/Rjgxad2uUis"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    >
    </iframe>
  </div>
</div>
