<div id="container">
    <form id="grid-form">
      <div class="group">
        <div class="group">
          <mat-slide-toggle id="toggleCheckbox" [checked]="service.visible.getValue()" (change)="service.toggle()">Visible</mat-slide-toggle>
       </div>
        <label class="title" id="thickness">Taille des carrés</label>
        <mat-slider
          id="thickness-slider"
          name="thickness-slider"
          disabled="false"
          [min]="THICKNESS_SLIDER_MINIMUM"
          [max]="THICKNESS_SLIDER_MAXIMUM"
          step="5"
          thumbLabel="true"
          tickInterval="false"
          [value]="service.thickness.value"
          (change)="setThickness($event)"
          vertical="false">
        </mat-slider>
      </div>
      <div class="group">
        <label class="title" id="opacity">Opacité</label>
        <mat-slider
          id="opacity-slider"
          name="opacity-slider"
          disabled="false"
          [min]="OPACITY_SLIDER_MINIMUM"
          [max]="OPACITY_SLIDER_MAXIMUM"
          step="0.1"
          thumbLabel="true"
          tickInterval="false"
          [value]="service.opacity.value"
          (change)="setOpacity($event)"
          vertical="false">
        </mat-slider>
      </div>
    </form>
  </div>
  