<div id="container">
    <form id="rectangle-form">
        <h6 class="title" id="tracing-type">Type de tracé</h6>
        <div class="group">
            <mat-slide-toggle id="borderCheckbox" [checked]="service.shapeStyle.hasBorder" (change)="updateBorder()">Contour</mat-slide-toggle>
            <mat-slide-toggle id="fillCheckbox" [checked]="service.shapeStyle.hasFill" (change)="updateFill()">Plein</mat-slide-toggle>
            <p id="warning" *ngIf="!service.shapeStyle.hasBorder && !service.shapeStyle.hasFill">*Sélectionnez au moins une option</p>
        </div>
        <div class="group" *ngIf="service.shapeStyle.hasBorder">
            <h6 class="title" id="thickness">Épaisseur contour</h6>
            <mat-slider
                id="thickness-slider"
                name="thickness-slider"
                [min]="SLIDER_MINIMUM"
                [max]="SLIDER_MAXIMUM"
                step="1"
                thumbLabel="true"
                tickInterval="false"
                [(ngModel)]="service.shapeStyle.thickness"
                vertical="false">
            </mat-slider>
        </div>
    </form>
  </div>
