<div id="container">
    <form id="rectangle-form">
        <label class="title" id="tracing-type">Type de tracé</label>
        <div class="group">
            <mat-checkbox id="borderCheckbox" (change)="updateContour()">Contour</mat-checkbox>
            <mat-checkbox id="fillCheckbox" (change)="updateFill()">Plein</mat-checkbox>
            <p *ngIf="!service.hasContour && !service.hasFill">*Sélectionnez au moins une option</p>
        </div>
        <div class="group">
            <label class="title" id="thickness">Épaisseur contour</label>
            <div class="slider-container">
            <mat-slider
                id="thickness-slider"
                name="thickness-slider"
                [disabled]="!service.hasContour"
                [min]="SLIDER_MINIMUM"
                [max]="SLIDER_MAXIMUM"
                step="1"
                thumbLabel="true"
                tickInterval="false"
                [(ngModel)]="service.thickness"
                vertical="false">
            </mat-slider>
            </div>
        </div>
    </form>
  </div>
  