<div id="container">
    <form>
        <h6 class="title" id="tracing-type">Actions</h6>
        <div class="group">
            <button mat-raised-button class="basic-action">Copier</button>
        </div>
        <div class="group">
            <button mat-raised-button class="basic-action">Coller</button>
        </div>
        <div class="group">
            <button mat-raised-button class="basic-action">Couper</button>
        </div>
        <div class="group">
            <button mat-raised-button class="basic-action">Dupliquer</button>
        </div>
        <div class="group-space-before">
            <button mat-raised-button class="delete-action"><i class="material-icons">delete</i>Supprimer</button>
        </div>
    </form>
</div>
