@import '../../../global-style/colors.scss';
@import '../../../global-style/dimensions.scss';

#container {
    color: white;
    padding: 30px 40px;
    padding-bottom: 0px;

    .title {
        font-weight: bold;
        color: whitesmoke;
    }

    .group {
        padding-top: 10px;
    }

    .group-space-before {
        padding-top: 40px;
    }

    #warning {
      color:red;
      font-size: 8pt;
    }

    .basic-action {
        background-color: $vivid;
    }

    .delete-action {
        background-color: #ff726f;
    }

    button {
        width: 100%;
    }
}