<table>
  <tr>
    <td>
      <h2>Pipette</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Une fois l'image dessinée, il est possible de retrouver la couleur de n'importe quel pixel.
    Il suffit de selectionner la pipette puis de se placer par dessus l'element. Un click droit change la couleur secondaire
    tandis qu'un clic gauche change la couleur primaire. Le bouton 'I' selectionne la pipette.
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/kOKeF5YaocA"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    >
    </iframe>
  </div>
</div>
