<table>
  <tr>
    <td>
      <h2>Selection et déplacement</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il est possible de selectionner un élément en appuyant dessus. Par ailleurs il est possible de séléctionner un ou plusieurs
    éléments en effectuant une selection par boite de ses derniers. Un racourci 'ctrl A' permet de selectionner tout les élements
    du dessin. Finalement, il est possible d'utiliser les flèches du clavier pour déplacer une séléction ou tout simplement la souris.
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/Vck4AD0gw2s"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    >
    </iframe>
  </div>
</div>
