@import "src/global-style/colors.scss";

:host {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $dark-gray;
  height: 100%;
}

.cdk-overlay-pane{
  height: 80%;
  width: 80%;
}

.scroll-container {
  overflow-x: scroll;
}

img.thumbnail {
  width: 300px;
  height: 100%;
}

.hover-box {
 position: absolute;
}

.hovered {
  filter: blur(3px) contrast(0.15);
}

// Trackbar inspired from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar2

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $vivid;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8c8630;
}

h1 {
  color: whitesmoke;
  font-size: 1.5em;
  text-align: center;
}

h5 {
  color: whitesmoke;
  font-size: 1em;
}

.option-selection {
  display: flex;
  flex-direction: row;

  .sub-section {
    margin-bottom: 10px;
  }
}

#add-tag-button {
  background-color: $vivid;
  margin-left: 10px;
}


.button-section {
  margin-top: 10px;
  text-align: right;
  background-color:$dark-gray;

  #cancel-button {
    color: whitesmoke;
    outline: none;

  }
}

#load-image {
  background-color: $vivid;
}

.info {
  display: inline;
}

::ng-deep .mat-chip-list-wrapper {
  margin-bottom: 10px !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: whitesmoke !important;
}

::ng-deep .mat-ripple-element{
  display: none !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: $vivid !important;
}

::ng-deep .mat-input-element {
  color: whitesmoke !important;
  caret-color: whitesmoke !important;
}

::ng-deep .mat-form-field-underline, .mat-form-field-underline.mat-focused {
  background-color: whitesmoke !important;
}
