<table>
  <tr>
    <td>
      <h2>Nouveau Dessin</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>
    Pour dessiner, vous devez d'abord creer un dessin. Pour se faire, vous pouvez creer un dessin du point d'entrer ou depuis le bouton '+'
    dans la vue de dessin.
  </h4>
  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/Ua_-FZ-7CTY"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    >
    </iframe>
  </div>
</div>

