<table>
  <tr>
    <td>
      <h2>Sceau de couleur</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Le fonctionnement ux du sceau de peinture est identique à celui de l'applicateur de couleur. Cependant, il intègre
    un nouvel algorithme pour vérifier les écarts de couleurs. Il suffit donc de réappliquer les démarche de l'applicateur
    de couleur, cette fois-ci le clic droit est inutile.
  </h4>

  <div class="videoExplicative">

  </div>
</div>
