#container {
  color: white;
  padding: 30px 40px;
  padding-bottom: 0px;

  .title {
    text-align: center;
    font-weight: bold;
  }

  ul {
    list-style: none;
    display: inline;
  }

  mat-form-field {
    margin-bottom: 50px;
  }

}

::ng-deep .mat-slider-ticks-container {
  background-color: grey;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: white;
  font-size: 20px;
}

::ng-deep .mat-select-value {
  color: white;
}

.mat-select {
  padding-top: 20px;
}
