<div id="container">
  <form id="line-form">
    <div class="head-group">
      <label class="title" id="thickness">Épaisseur</label>
      <mat-slider
        id="thickness-slider"
        name="thickness-slider"
        disabled="false"
        [min]="THICKNESS_SLIDER_MINIMUM"
        [max]="THICKNESS_SLIDER_MAXIMUM"
        step="1"
        thumbLabel="true"
        tickInterval="false"
        [(ngModel)]="service.thickness"
        vertical="false">
      </mat-slider>
    </div>
    <!--<div class="group">
      <label class="title">Type de jonction</label>
      <mat-select (selectionChange)="onDotSelected()" [(ngModel)]="jointType" name="type-select" class="dot">
        <mat-option value="Aucune">Aucune</mat-option>
        <mat-option value="Points">Points</mat-option>
      </mat-select>
    </div>-->
    <label class="title">Jonctions</label>
    <div class="group">
      <mat-slide-toggle [checked]="service.jointIsDot" (change)="onDotSelected()">Avec points</mat-slide-toggle>
    </div>
    <div *ngIf="service.jointIsDot" class="group">
      <label class="title" id="diameter">Diamètre</label>
      <mat-slider
        id="diameter-slider"
        name="diameter-slider"
        disabled="false"
        [min]="DIAMETER_SLIDER_MINIMUM"
        [max]="DIAMETER_SLIDER_MAXIMUM"
        step="1"
        thumbLabel="true"
        tickInterval="false"
        [(ngModel)]="service.dotDiameter"
        vertical="false">
      </mat-slider>
    </div>
  </form>
</div>
