<div class="optionFrame">
  <div class="headerComponent">Guide d'utilisation <img id="logoGuide" src="../../../assets/guideIcon.svg" alt="icone guide"></div>
  <div class="navigationGuide">

    <mat-action-list>
      <button class="subCategoryStyleAlone" mat-list-item (click)="setCurrentSubCategorie(welcomeObject.nom)">
        {{welcomeObject.nom }}
      </button>
    </mat-action-list>

    <mat-expansion-panel *ngFor="let categorie of categories, index as i">
      <mat-expansion-panel-header class="navigationGuideDropableHeader">
        <mat-panel-description class="categorieStyle">{{categorie.type.nom}}</mat-panel-description>
      </mat-expansion-panel-header>
      <hr class="separateGuideElements">

      <mat-action-list>
        <button class="subCategoryStyle" mat-list-item (click)="setCurrentSubCategorie(element.nom)"
                *ngFor="let element of  categories[i].type.elements">
          {{element.nom}}
        </button>
        <hr class="separateGuideElements">
      </mat-action-list>

    </mat-expansion-panel>

  </div>

  <div class="currentElementDescription">
    <router-outlet></router-outlet>
    <table>
      <tr>
        <td *ngIf="getCurrentSubCategorie()!=='Bienvenue' " class="navigationLink previous">
          <a (click)="getPreviousElement(getCurrentSubCategorie())"> Previous</a>
        </td>
        <td *ngIf="getCurrentSubCategorie()!=='last'" class="navigationLink next">
          <a (click)="getNextElement(getCurrentSubCategorie())">Next </a>
        </td>
      </tr>
    </table>
  </div>
</div>


