.optionFrame{
  width: 95%;
  float: right;
  height: 100vh;
}

.headerComponent {
  background-color: #38364B;
  text-align: center;
  color: azure;
  font-weight: bold;
}

.navigationGuide{
  width: 15%;
  background-color: #F1F1F1;
  float: left;
  height: 100%;
}

.affichageGuide{
  width: 70%;
  background-color: white;
  float: right;
  height: 100%;
}

.currentElementDescription{
  background-color: white;
}

ul{
  margin-bottom: 0;
}

li {
  list-style-type: none;
  margin-top: auto;
}

.categorieStyle{
  font-weight: bold;
}

::ng-deep .mat-expansion-panel-body{
  padding-bottom: 0 !important;
}

.subCategoryStyle {
  outline: none !important;
  height: auto !important;
}
.mat-action-list :hover{
  outline: none !important;
  height: auto !important;
  background-color: #dbdbdb !important;
}

mat-action-list{
  padding-top: 0;
}

mat-expansion-panel-header{
  height: 45px !important;
}

.separateGuideElements{
 border: black solid 2px;
}

