.optionFrame{
  width: 95%;
  float: right;
  height: 100vh;
}

.headerComponent {
  background-color: #38364B;
  text-align: center;
  color: azure;
  font-weight: bold;
}

.navigationGuide{
  width: 30%;
  background-color: darkgray;
  float: left;
  height: 100%;
}

.affichageGuide{
  width: 70%;
  background-color: red;
  float: right;
  height: 100%;
}

.currentElementDescription{
  background-color: azure;
}
