<div class="option">
  <div>

    <div class="header">
      <button (click)="closeGuide()" class="backButton">Retour</button>
      Guide d'utilisation <img id="logoGuide" src="../../../assets/guideIcon.svg" alt="icone guide"></div>
  </div>


  <div class="navigationGuide">
    <mat-accordion #myaccordion="matAccordion" multi="true" >
      <div *ngFor="let categorie of categories, index as i">
        <mat-action-list  *ngIf=" categorie === categories[0]">
          <button class="subCategoryStyleAlone" mat-list-item (click)="setCurrentSubCategorie(categorie.type.elements[0].nom)">
            {{categorie.type.elements[0].nom}}
          </button>
        </mat-action-list>

        <mat-expansion-panel *ngIf="categorie != categories[0]">
          <mat-expansion-panel-header class="navigationGuideDropableHeader">
            <mat-panel-description class="categorieStyle">{{categorie.type.nom}}</mat-panel-description>
          </mat-expansion-panel-header>
          <hr class="separateGuideElements">

          <mat-action-list>
            <a class="subCategoryStyle" mat-list-item (click)="setCurrentSubCategorie(element.nom)"
                    *ngFor="let element of  categories[i].type.elements">
              {{element.nom}}
            </a>
            <hr class="separateGuideElements">
          </mat-action-list>

        </mat-expansion-panel>
      </div>
    </mat-accordion>


  </div>

  <div class="currentElementDescription">
    <router-outlet name="guideSubCategory"></router-outlet>
    <table>
      <tr>
        <td *ngIf="getCurrentSubCategorie()!== 'Bienvenue'" class="navigationLink previous">
          <button mat-raised-button class="navButton" (click)="getPreviousElement()"> Previous</button>
        </td>
        <td *ngIf="getCurrentSubCategorie()!== 'Nouveau Dessin' "class="navigationLink next">
          <button mat-raised-button class="navButton" (click)="getNextElement()">Next </button>
        </td>
      </tr>
    </table>
  </div>
</div>


