<table>
  <tr>
    <td>
      <h2>Grille</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il est possible d'afficher ou de masquer une grille avec le bouton 'G'. Par ailleurs
    la taille et l'opacité de celle-ci sont modifiables dans les attributs d'outils.
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/PVSYRJ0sUuE"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    >
    </iframe>
  </div>
</div>
