<div class="wrapper">
  <div class="option-section">
    <div class="left">
      <div class="left-section">
        <h5>Format d'exportation</h5>
        <mat-radio-group name="formatList" [(ngModel)]="selectedFormat">
          <mat-grid-list cols="3" rowHeight="30">
            <mat-grid-tile *ngFor="let format of exportFormats">
              <mat-radio-button [value]="format">{{ format }}</mat-radio-button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-radio-group>
      </div>
      <div class="left-section">
        <h5>Filtres</h5>
        <mat-radio-group name="filterList" [(ngModel)]="selectedFilter">
          <mat-grid-list cols="3" rowHeight="30">
            <mat-grid-tile *ngFor="let filter of exportFilters">
              <mat-radio-button  [value]="filter">{{ filter }}</mat-radio-button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-radio-group>
      </div>
      <div class="left-section">
        <h5>Type d'exportation</h5>
        <mat-radio-group name="typeList" [(ngModel)]="selectedType">
          <mat-grid-list cols="3" rowHeight="30">
            <mat-grid-tile *ngFor="let type of exportTypes">
              <mat-radio-button *ngIf="type === 'Téléchargement'" [value]="type">{{ type }}</mat-radio-button> <!--TODO: REMOVE NGIF-->
            </mat-grid-tile>
          </mat-grid-list>
        </mat-radio-group>
      </div>
    </div>
    <div class="right">
      <div id="preview"></div>
      <div class="details">
        <form class="info">
          <mat-form-field>
            <mat-label class="text">Titre</mat-label>
            <input matInput>
          </mat-form-field>
          <!--
          <mat-form-field>
            <mat-label class="text">Auteur</mat-label>
            <input matInput [disabled]="true">
          </mat-form-field>
          <mat-form-field>
            <mat-label class="text">Courriel destinairaire</mat-label>
            <input matInput type="email" [disabled]="true">
          </mat-form-field>-->
        </form>
      </div>
    </div>
  </div>
  <div class="button-section">
    <button mat-button id="cancel-button" (click)="onDialogClose()">Annuler</button>
    <a #myDownload ><button mat-button id="confirm-button" (click)="exportConfirmation()">Exporter</button></a>
  </div>
</div>

<canvas #mydrawing hidden height="0" width="0"></canvas>
