@import "src/global-style/colors.scss";

:host {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $dark-gray;
  min-width: 500px;
}

.left-section {
  margin-bottom: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: whitesmoke !important;
}

::ng-deep .mat-ripple-element{
  display: none !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: $vivid !important;
}

::ng-deep .mat-input-element {
  color: whitesmoke !important;
  caret-color: whitesmoke !important;
}

.disabled {
  color: red;
}

::ng-deep .mat-form-field-underline, .mat-form-field-underline.mat-focused {
  background-color: whitesmoke !important;
}

h5 {
  color: whitesmoke;
  font-size: 1em;
}

::ng-deep .mat-grid-tile .mat-figure {
  justify-content: left !important;
}

.mat-radio-button{
  color:whitesmoke;
}

::ng-deep .mat-radio-outer-circle {
  border-color: whitesmoke;
}

.button-section {
  margin-top: 10px;
  text-align: right;
  background-color:$dark-gray;
}

#cancel-button {
  color: whitesmoke;
  outline: none;

}

#confirm-button {
  background-color: $vivid;
  outline: none;
}
