@import "src/global-style/colors.scss";

:host {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $dark-gray;
}

.option-selection {
  display: flex;

}

.filter-head {
  grid-area: header;
}

.filter-foot {
  grid-area: footer;
}

.filters{
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
   "header header header"
    "footer footer footer";


}

.info {
  display: block;

  .text {
    display: block;
  }
}

h5 {
  color: whitesmoke;
  font-size: 1em;
}

.mat-radio-button{
  color:whitesmoke;
}

::ng-deep .mat-radio-outer-circle {
  border-color: whitesmoke;
}

.button-section {
  margin-top: 10px;
  text-align: right;
  background-color:$dark-gray;
}

#cancel-button {
  color: whitesmoke;
  outline: none;

}

#confirm-button {
  background-color: $vivid;
  outline: none;
}
