<table>
  <tr>
    <td>
      <h2>Texte</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il suffit de peser sur l'option texte et de cliquer sur une région du dessin pour y écrire. Il existe des attributs
    de texte qui peuvent être sélectionés dans les attributs d'outils.
  </h4>

  <div class="videoExplicative">
  </div>
</div>

