<table>
  <tr>
    <td>
      <h2>Polygone</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il est possible de choisir le nombre de cotés du polygone dans les attributs d'outils grace
    au slider ( de 3 à 12 ).
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/6eb2G7sQ43g"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    >
    </iframe>
  </div>
</div>
