<div class="head">
  <button >Annuler</button>
  <button (click) = "onConfirm()">Confirmer</button>
</div>
<div>
  <div>
    <p>Dimensions:</p>
  </div>
  <div>
    <label for="width">largeur : </label>
    <input type="number" min="1" [value]="getcanvasSizeX()" (change) = "canvasSize.x = $event.target.value">
    <br/>
    <label for="height">hauteur : </label>
    <input type="number" min="1" [value]="getcanvasSizeY()" (change) = "canvasSize.y = $event.target.value">
  </div>
</div>
<div>

  <div>

    <h6 class="title">Couleur d'arrière-plan</h6>
    <div class="color-preview">
      <button id="color-button"
      (click)="onBackgroundChange()"
      [style.background-color]="backgroundColor.getHex()"></button>
    </div>
  </div>
</div>
