@import "../../../global-style/colors.scss";

:host {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $dark-gray;
}

h4 {
  color:whitesmoke;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

h6 {
  color: whitesmoke;
  font-size: 1em;
}

label {
  width: 50%;
  color: whitesmoke;
}

input {
  width: 50%;
  background-color: $dark-gray;
  color: whitesmoke;
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-color: $gray;
  text-align: center;
}

.settings-wrapper {
  float: left;
}

.button-section {
  margin-top: 10px;
  text-align: right;
  background-color:$dark-gray;
  //float: left;
  //display: inline;
}

#color-button {
  width: 55px;
  height: 55px;
  font-size: 12px;
  padding: 0;
}

.section {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 175px;
}

#cancel-button {
  color: whitesmoke;
  outline: none;

}

#confirm-button {
  background-color: $vivid;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
