<!--
<div>
  <div>
    <p>Dimensions:</p>
  </div>
  <div>
    <label for="width">largeur : </label>
    <input type="number" min="1" [value]="getcanvasSizeX()" (change) = "canvasSize.x = $event.target.value">
    <br/>
    <label for="height">hauteur : </label>
    <input type="number" min="1" [value]="getcanvasSizeY()" (change) = "canvasSize.y = $event.target.value">
  </div>
</div>
<div>

  <div>

    <h6 class="title">Couleur d'arrière-plan</h6>
    <div class="color-preview">
      <button id="color-button"
      (click)="onBackgroundChange()"
      [style.background-color]="backgroundColor.getHex()"></button>
    </div>
  </div>
</div>
-->
<h4>Créer un nouveau dessin</h4>
<div class="settings-wrapper">
  <div class="section">
    <h6>Dimensions</h6>
    <div>
      <label for="width">Largeur : </label>
      <input id="width" min="1" [value]="getcanvasSizeX()" (change) = "canvasSize.x = $event.target.value">
    </div>
    <div>
      <label for="height">Hauteur : </label>
      <input id="height" min="1" [value]="getcanvasSizeY()" (change) = "canvasSize.y = $event.target.value">
    </div>
  </div>
  <div class="section">
    <h6>Couleur d'arrière-plan</h6>
    <div class="color-preview">
      <button id="color-button"
      (click)="onColorSelect()"
      [style.background-color]="previewColor.getHex()"></button>
    </div>
  </div>
</div>

<div class="button-section">
  <button mat-button id="cancel-button" (click)="onCloseDialog()">Annuler</button>
  <button mat-button id="confirm-button" (click)="onConfirm()">Confirmer</button>
</div>
