<table>
  <tr>
    <td>
      <h2>Couleur</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il suffit de séléctionner le menu 'Options de Couleur' dans la barre d'attributs. Les 10 dernières couleurs utilisées
    sont présentées et prêtes à être utilisées.
  </h4>
  <h4>
    Il est possible de changer la couleur d'arrière plan en appuyant sur le bouton " Changer l'arrière plan".
    Par la suite une pallette de couleur s'affiche.
  </h4>
  <h4>
    Sur cette Palette, il est possible de selectionner la couleur de base souhaitée dans le slider. Suite à ceci, il faut choisir
    le dégradé voulu dans le grand carré coloré. Il est aussi possible d'entrer une valeur manuel en
    hexadécimale dans les champs 'R' 'V' 'B'.
  </h4>
  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/EvRnNbP7-Y8">
    </iframe>
  </div>
</div>
