<table>
  <tr>
    <td>
      <h2>Envoi par Mail</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il suffit d'entamer les même démarches que l'export. Cette fois-ci, il faudra également rajouter un champs
    ( le courriel) avant de peser sur confirmer.
  </h4>

  <div class="videoExplicative">

  </div>
</div>

