@import '../../../global-style/colors.scss';
@import '../../../global-style/dimensions.scss';

#container {
    color: white;
    padding: 30px 40px;
    padding-bottom: 0px;

    .title {
        font-weight: bold;
        color: whitesmoke;
    }

    .group {
        padding: 10px 0 40px 0;

        .paddRight {
          padding-right: 30px;
        }

        .mat-slider {
          margin-top: $slider-bubble-margin;
          width: $slider-width;
        }
    }
}

::ng-deep .mat-slider-ticks-container {
    background-color: grey;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: $medium;
}
