<table>
  <tr>
    <td>
      <h2>Gallerie</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il est possible de récupérer les images stockées sur le serveur dans la gallerie. Par la suite, il est possible de
    les filter en ajoutant des étiquettes. Finalement, pour supprimer ou charger un dessin , il faut se positioner
    sur la prévisualisation de celui-ci puis cliquer sur le bouton désiré.
    Le raccourci 'ctrl G' ouvre la gallerie.
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/TOQHklHBt1c">
    </iframe>
  </div>
</div>
