<table>
  <tr>
    <td>
      <h2>Sauvegarde sur Serveur</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il est possible de sauvegarder un dessin non vide sur le serveur en lui donnant minimalement un titre valide. La fenetre de sauvegarde
    est accessible via le raccourci 'ctrl S'.
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/ZudSdCLCx7Q">
    </iframe>
  </div>
</div>
