.header-wrapper {
  padding: 2%;

  .title-area {
    display: flex;

    #title {
      width: 80%;
    }

    #logo {
      text-align: right;
      width: 20%;
    }
  }

  .subtitle h3 {
    color: darkgray;
    font-size: 1.5em;
  }
}

.main-wrapper {
  padding: 2%;
}
