tr ,table{
  width: 100%;
}

td{
  width: 50%;
}

.logoAPPguide{
  padding-top: 1%;
  float: right;
  margin-right: 2%;
}

.elementStyle{
  margin-left: 5%;
  margin-top: 2%;
}

h3.elementStyle{
  color: darkgray;
  font-size: 16px;
}

p.elementStyle{
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 0;

}
