<table>
  <tr>
    <td>
      <h2  class='elementStyle'>Guide d'utilisation de PolyDessin</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
  <tr>
    <td>
      <h3 class='elementStyle'>Tout ce que vous avez besoin de connaître à propos de PolyDessin</h3>
    </td>
  </tr>
</table>

<hr>
<p class='elementStyle'>Bienvenue au guide d'Utilisation de PolyDessin.</p>
<p class='elementStyle'>Vous utiliser actuellement la version Hiver 2020.
  Accélerer votre maitrise des éléments du logiciel à l'aide de la table de matière
  présente dans le menu de navigation à votre Gauche</p>
