<div id="container">
    <form id="feather-form">
      <div class="head-group">
        <label class="title" id="thickness">Épaisseur</label>
        <mat-slider #thicknessSlider
          id="thickness-slider"
          name="thickness-slider"
          disabled="false"
          [min]="1"
          [max]="2"
          step="1"
          thumbLabel="true"
          tickInterval="false"
          [(ngModel)]="service.thickness"
          vertical="false"
          >
        </mat-slider>
      </div>
    </form>
    <form id="feather-form">
      <div class="head-group">
        <label class="title" id="height">Longeur</label>
        <mat-slider #heightSlider
          id="height-slider"
          name="heigth-slider"
          disabled="false"
          [min]="1"
          [max]="100"
          step="1"
          thumbLabel="true"
          tickInterval="false"
          [(ngModel)]="service.height"
          vertical="false"
          >
        </mat-slider>
      </div>
    </form>
    <form id="feather-form">
      <div class="head-group">
        <label class="title" id="height">Orientation</label>
        <mat-slider #orientationSlider
          id="orientation-slider"
          name="orientation-slider"
          disabled="false"
          [min]="0"
          [max]="360"
          step="1"
          thumbLabel="true"
          tickInterval="false"
          [(ngModel)]="service.angle"
          vertical="false"
          >
        </mat-slider>
      </div>
    </form>
  </div>
