<table>
  <tr>
    <td>
      <h2>Aérosol</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il suffit de choisir un diametre et une vitesse de propagation dans les outils pour utiliser l'outil.
    Le bouton 'A' selectionne l'aérosol.
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/UAx1L3ifg9U">
    </iframe>
  </div>
</div>
