@import "src/global-style/colors.scss";

:host {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $dark-gray;
  min-width: 500px;
}

h1 {
  color: whitesmoke;
  font-size: 1.5em;
  text-align: center;
}

h5 {
  color: whitesmoke;
  font-size: 1em;
}

.left-section {
  margin-bottom: 10px;
}

.option-selection {
  display: flex;
  flex-direction: row;
}

#preview {
  max-width: 300px;
  max-height: 250px;
}

.details {
  display: flex;
  flex-direction: column;
}

.icon{
  float: right;
  padding-top: 10px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: whitesmoke !important;
}

::ng-deep .mat-ripple-element{
  display: none !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: $vivid !important;
}

::ng-deep .mat-input-element {
  color: whitesmoke !important;
  caret-color: whitesmoke !important;
}

::ng-deep .mat-form-field-underline, .mat-form-field-underline.mat-focused {
  background-color: whitesmoke !important;
}

.button-section {
  margin-top: 10px;
  text-align: right;
  background-color:$dark-gray;

  #cancel-button {
    color: whitesmoke;
    outline: none;

  }

  .confirm-button {
    background-color: $vivid;
    outline: none;
  }
}

.add-tag-button {
  background-color: $vivid;
  outline: none;
  float: right;
  right: 200px;
  margin-top: 8px;
}

.list-tags{
  float: right !important;
}

.tag {
  width: max-content !important;
  color: red !important;
  background-color: white !important;
  font-size: 1.2em !important;
  border-radius: 15px !important;
  margin-bottom: 4px;
}

#delete{
  margin-top: 2px;
  position: absolute;
  right: 2px;
}
.tag:hover{
  color: red !important;
  background-color: #dbdbdb !important;
  font-weight: bold !important;
  font-size: 1.5em !important;

}
