<div class="wrapper">
  <div class="option-section">
    <div class="left">
      <div class="left-section">
        <div class="details">
          <form class="info">
            <mat-form-field>
              <mat-label class="text">Titre</mat-label>
              <input [(ngModel)]="title" [ngModelOptions]="{standalone: true}" matInput>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="left-section">
        <h5>Étiquettes</h5>
        <form class="info">
          <mat-form-field>
            <mat-label class="text">Ajouter une étiquette</mat-label>
            <input [(ngModel)]="tagName" [ngModelOptions]="{standalone: true}" matInput>
            </mat-form-field>
          <button mat-button id="add-tag-button" (click)="addTag(tagName)">Ajouter</button> <!-- todo add disable if boolean is unvalid -->
        </form>
        <!-- todo add angular material add list element -->
        <mat-action-list>
          <button class="tag" *ngFor="let tag of tags" mat-list-item (click)="removeTag(tag)">{{tag}}
            <img id="delete" width="12px" height="12px" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-circled-512.png" alt="close Icon">
          </button>
        </mat-action-list>

      </div>
    </div>
    <div class="right">
      <h5>Apperçu</h5>
      <div id="preview">
        <canvas #mydrawing ></canvas>
      </div>
    </div>
  </div>
  <div class="button-section">
    <button mat-button id="cancel-button" (click)="onDialogClose()">Annuler</button>
    <a #myDownload ><button mat-button id="confirm-button" (click)="saveConfirmation()">Sauvegarder</button></a>
  </div>
</div>

