<div id="wrapper">
  <div id="upper-icons">

    <div class="tool-group">
      <div class="left-column">
        <div class="icon">
          <button mat-button disabled
                  (click)="selectTool('selection')"
                  [ngClass]="{'clicked': currentTool === 'selection',
            'not-clicked': currentTool !== 'selection'}">
            <img src="../../../assets/icons/arrow.svg">
          </button>
        </div>
      </div>
      <div class="right-column">
      </div>
    </div>
    <hr noshade size="1">

    <div class="tool-group">
      <div class="left-column">
        <div class="icon">
          <button mat-button
                  [matTooltip]="this.toolSelectorService.getPencil().frenchName"
                  matTooltipPosition="after"
                  aria-label="pencil-tooltip"
                  (click)="selectTool('pencil')"
                  [ngClass]="{'clicked': currentTool === 'pencil',
            'not-clicked': currentTool !== 'pencil'}">
            <img src="../../../assets/icons/pencil.svg">
          </button>
        </div>
        <div class="icon">
          <button mat-button disabled (click)="selectTool('feather')"
                  [ngClass]="{'clicked': currentTool === 'feather',
            'not-clicked': currentTool !== 'feather'}">
            <img src="../../../assets/icons/feather.svg">
          </button>
        </div>
      </div>
      <div class="right-column">
        <div class="icon">
          <button mat-button (click)="selectTool('brush')"
                  [matTooltip]="this.toolSelectorService.getBrush().frenchName"
                  matTooltipPosition="after"
                  aria-label="brush-tooltip"
                  [ngClass]="{'clicked': currentTool === 'brush',
            'not-clicked': currentTool !== 'brush'}">
            <img src="../../../assets/icons/brush.svg">
          </button>
        </div>
        <div class="icon">
          <button mat-button disabled (click)="selectTool('aerosol')"
                  [ngClass]="{'clicked': currentTool === 'aerosol',
            'not-clicked': currentTool !== 'aerosol'}">
            <img src="../../../assets/icons/aerosol.svg">
          </button>
        </div>
      </div>
    </div>
    <hr noshade size="1">

    <div class="tool-group">
      <div class="left-column">
        <div class="icon">
          <button mat-button
                  [matTooltip]="this.toolSelectorService.getRectangle().frenchName"
                  matTooltipPosition="after"
                  aria-label="rectangle-tooltip"
                  (click)="selectTool('rectangle')"
                  [ngClass]="{'clicked': currentTool === 'rectangle',
            'not-clicked': currentTool !== 'rectangle'}">
            <img src="../../../assets/icons/rectangle.svg">
          </button>
        </div>
        <div class="icon">
          <button mat-button disabled (click)="selectTool('polygon')"
                  [ngClass]="{'clicked': currentTool === 'polygon',
            'not-clicked': currentTool !== 'polygon'}">
            <img src="../../../assets/icons/polygon.svg">
          </button>
        </div>
      </div>
      <div class="right-column">
        <div class="icon">
          <button mat-button
                  [matTooltip]="this.toolSelectorService.getEllipse().frenchName"
                  matTooltipPosition="after"
                  aria-label="ellipse-tooltip"
                  (click)="selectTool('ellipse')"
                  [ngClass]="{'clicked': currentTool === 'ellipse',
            'not-clicked': currentTool !== 'ellipse'}">
            <img src="../../../assets/icons/ellipse.svg">
          </button>
        </div>
        <div class="icon">
          <button mat-button
                  [matTooltip]="this.toolSelectorService.getLine().frenchName"
                  matTooltipPosition="after"
                  aria-label="line-tooltip"
                  (click)="selectTool('line')"
                  [ngClass]="{'clicked': currentTool === 'line',
            'not-clicked': currentTool !== 'line'}">
            <img src="../../../assets/icons/line.svg">
          </button>
        </div>
      </div>
    </div>
    <hr noshade size="1">

    <div class="tool-group">
      <div class="left-column">
        <div class="icon">
          <button mat-button disabled (click)="selectTool('text')"
                  [ngClass]="{'clicked': currentTool === 'text',
            'not-clicked': currentTool !== 'text'}">
            <img src="../../../assets/icons/text.svg">
          </button>
        </div>
      </div>
      <div class="right-column">
        <div class="icon">
          <button mat-button disabled (click)="selectTool('stamp')"
                  [ngClass]="{'clicked': currentTool === 'stamp',
            'not-clicked': currentTool !== 'stamp'}">
            <img src="../../../assets/icons/stamp (2).svg">
          </button>
        </div>
      </div>
    </div>
    <hr noshade size="1">

    <div class="tool-group">
      <div class="left-column">
        <div class="icon">
          <button mat-button disabled (click)="selectTool('colorApplicator')"
                  [ngClass]="{'clicked': currentTool === 'colorApplicator',
            'not-clicked': currentTool !== 'colorApplicator'}">
            <img src="../../../assets/icons/color-applicator.svg">
          </button>
        </div>
        <div class="icon">
          <button mat-button disabled (click)="selectTool('pipette')"
                  [ngClass]="{'clicked': currentTool === 'pipette',
            'not-clicked': currentTool !== 'pipette'}">
            <img src="../../../assets/icons/pipette.svg">
          </button>
        </div>
      </div>
      <div class="right-column">
        <div class="icon">
          <button mat-button disabled (click)="selectTool('bucket')"
                  [ngClass]="{'clicked': currentTool === 'bucket',
            'not-clicked': currentTool !== 'bucket'}">
            <img src="../../../assets/icons/bucket.svg">
          </button>
        </div>
        <div class="icon">
          <button mat-button (click)="selectTool('eraser')"
                  [ngClass]="{'clicked': currentTool === 'eraser',
            'not-clicked': currentTool !== 'eraser'}">
            <img src="../../../assets/icons/eraser.svg">
          </button>
        </div>
      </div>
    </div>
    <hr noshade size="1">
  </div>
  <div id="bumper"></div>


  <div id="lower-icons">
    <hr noshade size="1">
    <div class="bottom">
      <div class="left-column">
        <div class="icon">
          <button mat-button (click)="toolSelectorService.memory.undo()">
            <img src="../../../assets/icons/undo1.svg">
          </button>
        </div>
        <div class="icon">
          <button mat-button (click)="createNewProject()">
            <img src="../../../assets/icons/new-project.svg">
          </button>
        </div>
        <div class="icon">
          <button mat-button disabled>
            <img src="../../../assets/icons/load-project.svg">
          </button>
        </div>
      </div>
      <div class="right-column">
        <div class="icon">
          <button mat-button (click)="toolSelectorService.memory.redo()">
            <img src="../../../assets/icons/redo.svg">
          </button>
        </div>
        <div class="icon">
          <button mat-button disabled>
            <img src="../../../assets/icons/save-project.svg">
          </button>
        </div>
        <div class="icon" >
          <a  [routerLink]="['' ,{outlets : { guideSubCategory : ['bienvenue']}}]"
              skipLocationChange
              role="button" (click)="openDialog()">
            <button mat-button>
              <img src="../../../assets/icons/guide.svg">
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
