@import "../../../global-style/colors.scss";

.top {
  display: flex;
}

.bottom {
  display: flex;
}

.clicked {
  background-color: $clicked-sidebar-option;
}

.not-clicked {
  filter: invert(1);
}

.mat-button {
  height: 50px;
  width: 50px;
}

.tool-group {
  display: flex;
  width: 100%;
}

.group-name {
  margin: 5px;
  color: white;
  font-weight: 100;
}

hr {
  margin: 0;
  border-color: gray;
}

.wrapper {
  height: 100%;
}

#upper-icons {
  overflow-y: auto;
  height: 100%;
}

#upper-icons::-webkit-scrollbar {
  display: none;
}

#lower-icons {
  position: absolute;
  bottom: 1px;
  background-color: $medium;
  border-top: 1px solid $dark;
}

.bumper {
  padding: 75px 0;
}