<table>
  <tr>
    <td>
      <h2>Pinceau</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il suffit de séléctionner le pinceau dans la barre de gauche. Une fois séléctionné, il est possible de cacher la section 'attributs
    d'outils' en recliquant sur l'outil séléctionné. La section attributs outils permet d'ajuster l'épaisseur du Pinceau et le menu déroulant
    'Options de couleur' permet de modifier la couleur sélectionnée. Il est également possible de choisir une texture de pinceau parmis les 5
  options disponibles.</h4>
  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/YAVsp09l83s">
    </iframe>
  </div>
</div>
