tr ,table{
  width: 100%;
}

td{
  width: 50%;
}

.logoAPPguide{
  padding-top: 1%;
  float: right;
  margin-right: 2%;
}

h2{
  color: #38364B;
  margin-left: 1%;
}

h4, .videoExplicative{
  margin-top: 2%;
  margin-left: 2%;
  font-size: 1em;
}
.videoExplicative{
  margin-bottom: 10% ;
}

.mainHr{
  margin-top: 1%;
  border: black solid 1px;
  width: 98%;
  margin-left: auto;
  margin-right: auto ;
}
