<table>
  <tr>
    <td>
      <h2>Ligne</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Il suffit de séléctionner la ligne dans la barre de gauche. Une fois l'outil séléctionné, il est possible de cacher la section 'attributs
    d'outils' en appuyant à nouveau sur l'outil séléctionné.
    La section 'attributs outils' permet d'ajuster l'épaisseur de la ligne. L'interrupteur permet d'ajuster la jonction des lignes, c'est-à-dire
    avec ou sans points.
    En appuyant sur 'Shift', il est possible de bloquer l'orientation de la ligne à 0, 45 ou 90 degrés.
    'Options de couleur' permet de modifier la couleur sélectionnée.</h4>
  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/kAD7h5qQlDw"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    >
    </iframe>
  </div>
</div>

