@import '../../../global-style/colors.scss';
@import '../../../global-style/dimensions.scss';

#container {
  color: white;
  padding: 30px 40px;
  padding-bottom: 0px;

  .title {
    text-align: center;
    font-weight: bold;
  }

  ul {
    list-style: none;
    display: inline;
  }

  mat-form-field {
    margin-bottom: 50px;
  }

  #thickness {
    margin: 0;
  }

  .mat-slider {
    margin-top: $slider-bubble-margin;
    width: $slider-width;
  }

  .group {
    padding: 10px 0 40px 0;
  }

}

::ng-deep .mat-slider-ticks-container {
  background-color: grey;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: white;
  font-size: 20px;
}

::ng-deep .mat-select-value {
  color: whitesmoke!important;
}

.pattern{
  background-repeat: repeat;
  width: 100px;
  height: 25px;
  position: relative;
  display: block;
}

#patternSelect{
  position: absolute;
  left: 0;
  top: 25px;
  display: inline-block;
}
