<div id="container">
  <form id="line-form">
    <div class="group">
      <label class="title" id="thickness">Épaisseur</label>
      <mat-slider
        [(ngModel)]="service.thickness"
        id="thickness-slider"
        name="thickness-slider"
        disabled="false"
        [min]="SLIDER_MINIMUM"
        [max]="SLIDER_MAXIMUM"
        step="1"
        thumbLabel="true"
        tickInterval="false"
        vertical="false">
      </mat-slider>
    </div>
    <!--
    <div class="group">
      <label class="title" id="texture">Texture</label>
      <button class="pattern" (click)="toggleFilters()" [ngStyle]="{background: 'url(../../../assets/patterns/' + service.selectedPattern + '.svg)'}">
        <div id="patternSelect" *ngIf="showFilters">
          <button class="pattern" *ngFor="let pattern of this.filters" [ngStyle]="{background: 'url(../../../assets/patterns/' + pattern + '.svg)'}" (click)= changePattern(pattern.referenceID)></button>
        </div>
      </button>
    </div>-->
    <div class="group">
      <label class="title" id="texture">Texture</label>
      <mat-select name="filter-select" [value]="filters[0].name">
        <mat-option *ngFor="let pattern of this.filters" (click)="changePattern(pattern.referenceID)" [value]="pattern.name"> {{ pattern.name }} </mat-option>
      </mat-select>
    </div>
  </form>
</div>

