#container {
  color: white;
  padding: 30px 40px;
  padding-bottom: 0px;

  .title {
    text-align: center;
    font-weight: bold;
  }

  ul {
    list-style: none;
    display: inline;
  }

  mat-form-field {
    margin-bottom: 50px;
  }

}

::ng-deep .mat-slider-ticks-container {
  background-color: grey;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: white;
  font-size: 20px;
}

.pattern{
  background-repeat: repeat;
  width: 100px;
  height: 25px;
  position: relative;
  display: block;
}

#patternSelect{
  position: absolute;
  left: 0;
  top: 25px;
  display: inline-block;
}
