<table>
  <tr>
    <td>
      <h2>Exportation</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>Une fois l'image dessinée, il est possible d'exporter localement l'image sous plusieurs formats et avec plusieurs filtres.
    Le raccourci 'ctrl E' ouvre le menu d'Export.
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/FoCyxj3Otk0">
    </iframe>
  </div>
</div>
