<table>
  <tr>
    <td>
      <h2>Plume</h2>
    </td>
    <td>
      <img class="logoAPPguide" src="../../../../assets/appLogo.jpg" alt="Logo de l'application" width="85" height=auto>
    </td>
  </tr>
</table>

<div class="sousSectionReplicable">
  <hr class="mainHr">
  <h4>La plume s'utilise comme le crayon. En guise de nouveauté, il est possible de modifier l'orientation avec les
    crans de la roulette (15°) ou avec la touche Alt+ roulette (1°).
  </h4>

  <div class="videoExplicative">
    <iframe width="700" height="520"
            src="https://www.youtube.com/embed/aZaNopvdS3c"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    >
    </iframe>
  </div>
</div>
